node_modules/
.env
# Node.js dependencies
node_modules/
package-lock.json

# Build output
dist/
build/

# Environment variables
.env

# Editor/IDE config files
.vscode/
.idea/

# Compiled CSS maps
*.css.map

# Cache y logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Configuración de eslint
eslint.config.js

# Archivos de configuración de Vite
vite.config.js

# Archivos temporales o de prueba
TextFile
